html, body {
    display: flex;
    margin: 0;
    background: linear-gradient(to bottom right, #56708a, #363663);
    font-family: 'Arial', sans-serif;
}


canvas {
    border: 1px solid #2d69a5;
    background: #ebebdb;
    border-radius: 10px; /* Rounded corners */
    display: block; /* Block display */
    box-sizing: border-box; /* Include padding and border in total width/height */
}